<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <conversionRule conversionWord="highlight" converterClass="aimo.backend.common.config.CustomHighlightConverter"/>

    <property name="LOG_LEVEL_PATTERN" value="%highlight(%-5level)"/>

    <!-- 콘솔에 로그를 출력하는 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [${LOG_LEVEL_PATTERN}] %cyan(%logger{5}.%M) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- 로그 파일에 로그를 출력하는 설정 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>build/libs/backend-server-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="console"/> <!-- 콘솔과 파일 둘다 출력 -->
        <appender-ref ref="file"/>
    </root>

    <!-- 특정 패키지 또는 클래스의 로깅 레벨 설정 -->
    <logger name="jex" level="debug"/>
    <logger name="com" level="debug"/>
</configuration>